.topbox {
	background-color: black;
	width: 100%;
	height: 20vh;
}
.bottombox {
	background-color: black;
	width: 75%;
	height: 10vh;
	margin: 0 auto;
}
.center {
	background-color: red;
	margin: 0 auto;
	width: 75%;
	height: 70vh;
}
body {
	margin: 0;
	width: 100%;
	height: 100vh;
	background-color: grey;
}